---
import { Icon } from "astro-icon/components";
import ThemeSwitcher from "~/components/theme-switcher.astro";
import type { NavItem } from "~/types";

const navItems: NavItem[] = [
  { title: "Introduction", url: "#intro" },
  { title: "Products", url: "#products" },
];
---

<header
  id="page-header"
  class="sticky top-0 z-20 flex w-full items-center justify-end border-b border-transparent bg-offset px-8 py-4"
>
  <div>
    <div class="flex items-center gap-6">
      <nav class="hidden sm:block">
        <ul class="flex items-center gap-6">
          {
            navItems.map(({ title, url }) => (
              <li>
                <a class="text-sm" href={url}>
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <label
        for="nav_toggle"
        class="btn btn-ghost sm:hidden"
        aria-label="Navigation"
      >
        <Icon name="mdi:menu" class="size-8" />
      </label>
      <ThemeSwitcher />
    </div>
    <input type="checkbox" id="nav_toggle" class="modal-toggle" />
    <div id="menu-modal" class="modal bg-offset">
      <div class="fixed inset-0 bg-default px-8 py-4 text-default">
        <div class="space-y-4" role="dialog">
          <header class="text-right">
            <label
              for="nav_toggle"
              class="btn btn-ghost"
              aria-label="Close navigation"
            >
              <Icon name="mdi:close" class="size-8" />
            </label>
          </header>
          <div class="flex justify-center">
            <Icon name="logomark" class="size-16" />
          </div>
          <nav>
            <ul class="flex flex-col">
              {
                navItems.map(({ title, url }) => (
                  <li>
                    <a class="block py-4 text-center text-xl" href={url}>
                      {title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  import invariant from "tiny-invariant";

  const menuModalId = "menu-modal";

  const header = document.querySelector("#page-header") as HTMLElement;
  const menu = document.querySelector(`#${menuModalId} ul`);

  invariant(header, "header should not be null");
  invariant(menu, "menu should not be null");
</script>
