---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

export interface Props {
  product: CollectionEntry<"products">;
}

const { product } = Astro.props;

const widths = [450, 800];
const sizes = "(min-width: 1024px) 33vw, (min-width: 768px) 50vw, 100vw";
---

<div class="aspect-square">
  <a class="group" href={product.data.url} target="_blank">
    <figure class="relative h-full w-full overflow-hidden">
      <Image
        class="h-full w-full object-contain transition-all duration-300 group-hover:scale-110 group-focus:scale-110"
        src={product.data.image}
        widths={widths}
        sizes={sizes}
        alt={`An image of ${product.data.name}`}
      />
    </figure>
    <div class="text-center text-sm md:text-base">
      {product.data.name}
    </div>
  </a>
  <div class="text-center">
    <a
      class="btn btn-outline btn-sm hover:!text-white"
      href={product.data.url}
      target="_blank">Buy now</a
    >
  </div>
</div>
