---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ProductCard from "~/components/product-card.astro";

const products = await getCollection("products");
---

<ContentSection title="Products" id="products">
  <div class="w-full max-w-6xl space-y-2">
    <div role="tablist" class="tab-sm tabs md:tabs-lg [&>.tab]:px-2">
      <input
        type="radio"
        name="beverages"
        role="tab"
        class="tab whitespace-nowrap"
        aria-label="Soft Drink"
        checked
      />
      <div role="tabpanel" class="tab-content py-10">
        <div class="grid grid-cols-2 gap-4 md:grid-cols-4 lg:grid-cols-5">
          {
            products
              .filter(({ id }) => id.startsWith("soft-drink"))
              .map((product) => <ProductCard product={product} />)
          }
        </div>
      </div>

      <input
        type="radio"
        name="beverages"
        role="tab"
        class="tab"
        aria-label="Juice"
      />
      <div role="tabpanel" class="tab-content py-10">
        <div class="grid grid-cols-2 gap-4 md:grid-cols-4 lg:grid-cols-5">
          {
            products
              .filter(({ id }) => id.startsWith("juice"))
              .map((product) => <ProductCard product={product} />)
          }
        </div>
      </div>

      <input
        type="radio"
        name="beverages"
        role="tab"
        class="tab"
        aria-label="Beer"
      />
      <div role="tabpanel" class="tab-content py-10">
        <div class="grid grid-cols-2 gap-4 md:grid-cols-4 lg:grid-cols-5">
          {
            products
              .filter(({ id }) => id.startsWith("beer"))
              .map((product) => <ProductCard product={product} />)
          }
        </div>
      </div>

      <input
        type="radio"
        name="beverages"
        role="tab"
        class="tab"
        aria-label="Mojito"
      />
      <div role="tabpanel" class="tab-content py-10">
        <div class="grid grid-cols-2 gap-4 md:grid-cols-4 lg:grid-cols-5">
          {
            products
              .filter(({ id }) => id.startsWith("mojito"))
              .map((product) => <ProductCard product={product} />)
          }
        </div>
      </div>

      <input
        type="radio"
        name="beverages"
        role="tab"
        class="tab"
        aria-label="Tea"
      />
      <div role="tabpanel" class="tab-content py-10">
        <div class="grid grid-cols-2 gap-4 md:grid-cols-4 lg:grid-cols-5">
          {
            products
              .filter(({ id }) => id.startsWith("tea"))
              .map((product) => <ProductCard product={product} />)
          }
        </div>
      </div>

      <input
        type="radio"
        name="beverages"
        role="tab"
        class="tab"
        aria-label="Water"
      />
      <div role="tabpanel" class="tab-content py-10">
        <div class="grid grid-cols-2 gap-4 md:grid-cols-4 lg:grid-cols-5">
          {
            products
              .filter(({ id }) => id.startsWith("water"))
              .map((product) => <ProductCard product={product} />)
          }
        </div>
      </div>
    </div>
  </div>
</ContentSection>
