---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ProductCard from "~/components/product-card.astro";

const products = await getCollection("products");
const tabs = [
  {
    id: "soft-drink",
    label: "Nước ngọt",
    items: products.filter(({ id }) => id.startsWith("soft-drink")),
  },
  {
    id: "juice",
    label: "Nước trái cây",
    items: products.filter(({ id }) => id.startsWith("juice")),
  },
  {
    id: "beer",
    label: "Bia",
    items: products.filter(({ id }) => id.startsWith("beer")),
  },
  {
    id: "mojito",
    label: "Mô-hi-tô",
    items: products.filter(({ id }) => id.startsWith("mojito")),
  },
  {
    id: "tea",
    label: "Trà",
    items: products.filter(({ id }) => id.startsWith("tea")),
  },
  {
    id: "water",
    label: "Nước",
    items: products.filter(({ id }) => id.startsWith("water")),
  },
];
---

<ContentSection title="Sản phẩm" id="products">
  <div class="w-full max-w-6xl space-y-2">
    <div class="mb-8">
      <ul
        class="-mb-px flex flex-wrap justify-center font-medium text-sm"
        id="products-tab"
        data-tabs-toggle="#products-tab-content"
        role="tablist"
      >
        {
          tabs.map(({ id, label }) => (
            <li role="presentation">
              <button
                class="inline-block px-4 py-2 text-default hover:text-current"
                id={`${id}-tab`}
                data-tabs-target={`#${id}`}
                type="button"
                role="tab"
                aria-controls={id}
                aria-selected="false"
              >
                {label}
              </button>
            </li>
          ))
        }
      </ul>
    </div>
    <div id="products-tab-content">
      {
        tabs.map(({ id, items }) => (
          <div
            class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5"
            id={id}
            role="tabpanel"
            aria-labelledby={`${id}-tab`}
          >
            {items.map((product) => (
              <ProductCard product={product} />
            ))}
          </div>
        ))
      }
    </div>
  </div>
</ContentSection>
